@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.image-container {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 24px;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.5) 60%,
      rgba(0, 0, 0, 0) 100%
    );
    z-index: 1;
    pointer-events: none;
  }
}
.card-container {
  overflow: hidden;
}

.card-container:hover .card-image {
  transform: scale(1.1); /* Adjust the scale value as needed */
  transform-origin: center center; /* Zoom towards the center */
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}

.card-image {
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}

.aos2-container {
  overflow: hidden;
}

.aos2-container:hover p {
  display: block;
  transition: 0.2s ease-in-out;
}

.aos2-container:hover div {
  transition: 0.2s ease-in-out;
  backdrop-filter: blur(5px);
}

.heart {
  transition: 0.2s ease-in-out;
}

.card-container:hover .heart {
  transition: 0.2s ease-in-out;
  scale: 1.2;
  fill: white;
}

.two-items::before {
  align-self: stretch;
  content: "";
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-width: 0.5px;
}
.two-items .flexbox-item:first-child {
  order: -1;
}
.contact:hover .images {
  transform: scale(1.2); /* Adjust the scale value as needed */
  transform-origin: center center; /* Zoom towards the center */
  transition: transform 0.3s ease-in-out; /* Smooth transition */
  color: #ef7d00;
}

.three-items::before,
.three-items::after {
  align-self: stretch;
  content: "";
  border: 0.5px solid black;
}
.three-items .flexbox-item:first-child {
  order: -1;
}
.three-items .flexbox-item:last-child {
  order: 1;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.06);
  /* border-radius: 16px; */
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
